a
  text-decoration: none
.head__wrapper h1{
  text-align: center;
}

.card
  text-align: center;
.cards
  &_notfound
    padding-top: 20px;
    h2
      text-align: center;
      color: #999;
      text-transform: uppercase;
  &_loader
    text-align: center;
    padding-top: 40px;
.search {
  &_block {
    margin-bottom: 10px  
  }
  &-icon {
    margin-left: 10px  
  }
}

.comics
  &_card_block
    //padding-bottom: 10px
  &_name
    margin: 0
  &_creator
    margin: 0
    font-size: 11px

.favorites
  h1
    text-align: center
    text-transform: uppercase
    padding: 20px 0px
  h2
    text-align: center
    color: #999999
    text-transform: uppercase
    padding-top: 30vh
.comics_page
  h1
    text-align: center
    padding: 20px 0px
  &_notfound
    text-align: center;
    padding: 20px 0px;
    color: #999;
  &_cards
    padding: 40px 0px
