
.head__wrapper h1{
  text-align: center;
}

.card
  text-align: center;
.cards
  &_notfound
    padding-top: 20px;
    h2
      text-align: center;
      color: #999;
      text-transform: uppercase;
  &_loader
    text-align: center;
    padding-top: 40px;
.search {
  &_block {
    margin-bottom: 10px  
  }
  &-icon {
    margin-left: 10px  
  }
}